body{
    text-align: center;
    /* background-color: #99d39b; */
    background-image: linear-gradient(to bottom right,#acb334, #fab733, #ff8715);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo{
    width: 170px;
    position: absolute;
    top: 45px;
    left: 5%;
}

.title {
    padding: 2rem;
    background-size: cover; /* Ensure gradient fits */
    background-repeat: no-repeat;
  }

.title h1 {
    font-family: 'Roboto', sans-serif;  /* Apply the new font */
    font-size: 8rem;  /* Adjust the size of the title */
    font-weight: bold;  /* Make the font bold */
    color: #111111;  /* Optional: Change the color of the text */
}

.content{
    padding: 1rem;
}

.bubble {
    padding: 4rem;
    width: 700px;
    height: 350px;
    background-color: rgb(254, 254, 254); 
    border-radius: 8%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #000000;
  }

  /* Override Bootstrap's btn-success */
.btn-success {
  background-color: #000000;  /* Choose your preferred color */
  font-weight: bold; 
  border: none;               /* Remove the border */
}

h1 {
    font-size: 6rem;
    font-family: 'Roboto', sans-serif; /* Apply the same font or a different one */
    color: #333; /* Optional: Change the color */
}

.second {
  margin-bottom: -2rem; /* Reduce space between "Overview" and the bubble */
}

h2 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif; /* Apply the same font or a different one */
    color: #000000; /* Optional: Change the color */
    padding-left: .5rem;
    padding-right: .5rem;
}

h3 {
    font-size: 1.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.bottom-container {
    background-color: #eff5f0;
    padding: 50px;
  }

.copyright {
  color: #000000;
  margin-top: 20px;
  font-size: 0.75rem;
  }
  
.footer-link {
  color: rgb(0, 0, 0);
  margin-right: 25px;
  margin-left: 25px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  }

.chatMessage {
    position: absolute;
    width: 350px;
    bottom: 50px;
    right: 20px;
}